
.root{
    -fx-background-image:url("../img/back.jpeg");
    -fx-background-size:cover;
}
.loginPageButtons{
    -fx-background-color:transparent;
    -fx-text-fill:white;
    -fx-border-width:0px 0px 2px 0px;
    -fx-border-color:white;
    -fx-font-size:1.5em;
    -fx-font-weight:bold;
}
.active{
    -fx-text-fill:#aeaeae;
}

#titleLogin{
    -fx-font-family:Roboto;
    -fx-font-weight:bolder;
    -fx-font-size:2.4em;
    -fx-fill:white;
    
}
.inputField{
    -fx-font-family:Roboto;
    -fx-background-color:transparent;
    -fx-prompt-text-fill:white;
    -fx-text-fill:white;
}
.choiceBoxField{
    -fx-font-family:Roboto;
    -fx-background-color:transparent;
    
    -fx-mark-size:3em;
}
.choiceBoxField .menu-item:focused{
    -fx-background-color: orange; 
}
.choiceBoxField  > .label { 
    -fx-text-fill: white; 
}
.choiceBoxField .arrow { 
   -fx-background-color:orange;
   -fx-min-width:2em;
   -fx-min-height:1em;
   
}

.icon{
    -fx-font-size:1.3em;
}
.containerField{
    -fx-border-color:white;
    -fx-border-width:0px 0px 2px 0px;
}
.enterButton{
    -fx-background-color:#2f2f2fa3;
    -fx-background-radius:100px;
    -fx-text-fill:white;
    -fx-font-family:Roboto;
    -fx-font-weight:bold;
}
.enterButton .icon{
    -fx-font-size:2em;
    -fx-fill:white;
}


.err_label{
    -fx-text-fill: #ff9933;
    -fx-font-family: Roboto;
    -fx-font-size:1.3em;
    -fx-font-weight:bold;
}